<div class="wrapper">
  <div [formGroup]="zoomForm">
    <mat-button-toggle-group class="zoom" name="zoom" formControlName="zoom">
      <mat-button-toggle value="1">XS</mat-button-toggle>
      <mat-button-toggle value="3">S</mat-button-toggle>
      <mat-button-toggle value="5">Normal</mat-button-toggle>
      <mat-button-toggle value="8">L</mat-button-toggle>
      <mat-button-toggle value="10">XL</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div #canvasContainer class="box-container"
       [style.width.px]="cellSize * 600"
       [style.height.px]="cellSize * 480"
       cdkDropList
      [cdkDropListData]="cards"
      (cdkDropListDropped)="drop($event);multiSelect.dropListDropped($event)"
       >
    <app-card *ngFor="let card of cards"
    cdkDrag
    (pointerdown)="multiSelect.mouseDown($event)"
    (pointerup)="multiSelect.mouseUp($event)"
    (cdkDragStarted)="multiSelect.dragStarted();multiDrag.dragStarted($event)"
    (cdkDragEnded)="multiSelect.dragEnded()"
              [card]="card"
              [container]="canvasContainer"></app-card>
  </div>
</div>

