<div #box class="resizable-draggable"
     [style.width.px]="card.width"
     [style.height.px]="card.height"
     [style.transform]="'translate3d('+ card.left + 'px,' + card.top + 'px,' + '0px)'"
     [style.background-color]="'black'"
     [class.active]="status"
     
     (window:mouseup)="setStatus($event, 0)"
     cdkDrag
     
>
<!-- TODO - update the window mousedrag stuff to look into the drag and drop or stick with mdk-->
<!-- TODO Add imigix here -->
  <!-- <img src="https://imgixpublicbuckettest.s3.amazonaws.com/bali.jpg" [style.width.px]="card.width" [style.height.px]="card.height"> -->
  <img [src]=card.img [style.width.px]="card.width" [style.height.px]="card.height">

  <div class="checkbox-block">
    <mat-checkbox formControlName="selected"></mat-checkbox>
  </div>

  <div class="resize-action" (mousedown)="setStatus($event, 1)"></div>
</div>
